body {
    margin: 0;
    padding: 0;
}

#body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #00D;
}

a:visited {
    color: #55C;
}

a:hover {
    color: #66f;
    text-decoration: underline;
}

#header {
    padding: 3px 1em 2px 1em;
    background: #ddf;
    font-family: "helvetica", "arial", "sans-serif";
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #bbd;
}
#header a:visited {
    color: #00D;
}
#header div.header_left {
    margin: 0;
    padding: 0;
    float: left;
}
#header div.header_right {
    margin: 0;
    padding: 0;
    float: right;
}
#header_search {
    margin-right: 2em;
    display: inline;
}
#header_search input {
    width: 300px;
    margin: 0;
}

div.clear {
    clear: both;
    width: 100%;
    height: 1px;
    margin-top: -1px;
}

#content {
    padding: 1em 1em 1em 1em;
    /*border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #ccc; */
    width: 768px;
}

#footer {
    text-align: center;
    font-size: 80%;
    width: 768px;
    padding: 0 1em 2em 1em;
}

div.viewframe {
    border-style: solid;
    border-width: 1px;
    border-color: #bbd;
    padding: 0;
    margin-bottom: 1em;
    padding: 0.5em 0.75em 0.5em 0.75em;
}
div.viewframe h1 {
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    font-family: "helvetica", "arial", "sans-serif";
    font-size: 180%;
}

div.blob_reply {
    margin-left: 1.5em;
}

div.blob {
    border-style: solid;
    border-width: 1px;
    border-color: #bbd;
    padding: 0;
    margin-bottom: 1em;
}

div.blob_header {
    padding: 1px 1em 2px 1em;
    font-size: 50%;
    background: #ddf;
    font-family: "helvetica", "arial", "sans-serif";
    border-style: solid;
    border-width: 0px 0 1px 0;
    border-color: #bbd;
}
div.blob_content {
    padding: 0.5em 0.75em 0 0.75em;
}
div.blob_footer {
    padding: 0 0 1px 0;
    font-size: 50%;
    color: #ccc;
    font-family: "helvetica", "arial", "sans-serif";
}
div.blob_header_left {
    float: left;
}
div.blob_header_right {
    float: right;
}
div.blob_header span.blob_actions a {
    color: #00D;
    margin-left: 0.5em;
}

div.blob_content h1 {
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    font-family: "helvetica", "arial", "sans-serif";
    font-size: 180%;
}

div.blob_content li > p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
div.blob_content li > p:first-child {
    margin-top: 0;
}
/*div.blob_content li > p:last-child {
    margin-bottom: 0;
}*/
div.blob_content li > ul:last-child {
    margin-bottom: 0.5em;
}
div.blob_content li {
    margin-bottom: 0em;
}

div.blob_content p.after_block {
    margin-top: 0;
}
div.blob_content p.before_block {
    margin-bottom: 0;
}
div.blob_content p.before_block + ul {
    margin-top: 0.25em;
}
div.blob_content ul + p.after_block {
    margin-top: -0.75em;
}

div.blob_content ul {
    padding-left: 1.5em;
}

div.blob_content img {
    border: none;
}

table.tags {
    margin-left: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-size: 90%;
}
table.tags th {
    text-align: right;
    padding-left: 0.2em;
}

table.tags + p {
    margin-top: 0;
}

div.blob blockquote {
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: #445;
    margin-left: 2px;
    padding-left: 0.5em;
}

div.delete {
    margin-bottom: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: #e33;
}

div.blob_deleted {
    color: #f00;
    margin: 1em;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

div.errormsg {
    margin-bottom: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: #e33;
}

/* from http://www.barelyfitz.com/projects/tabber/ */
.tabberlive .tabbertabhide {
    display:none;
}
.tabber {
}
.tabberlive {
    margin-top:1em;
}
ul.tabbernav {
    margin:0;
    padding: 3px 0;
    border-bottom: 1px solid #778;
    font: bold 12px "Helvetica", "arial", sans-serif;
}

ul.tabbernav li {
    list-style: none;
    margin: 0;
    display: inline;
}

ul.tabbernav li a {
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #448; }

ul.tabbernav li a:hover {
    color: #000;
    background: #AAE;
    border-color: #227;
}

ul.tabbernav li.tabberactive a{
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover {
    color: #000;
    background: white;
    border-bottom: 1px solid white;
}

.tabberlive .tabbertab {
    padding: 0.5em 0.5em 0.5em 0.5em;
    border:1px solid #aaa;
    border-top:0;
}


/*.dochistorytable {border-width: 0; border-spacing: 0;}*/
.dochistorytable td {vertical-align: top; }
.dochistorytable table {margin: 0; padding: 0; border-width: 0; border-spacing: 0;}
.dochistorytable table tbody {margin: 0; padding: 0; border-width: 0; border-spacing: 0;}
.dochistorytable table tr {margin: 0; padding: 0; border-width: 0; border-spacing: 0;}
.dochistorytable table td {margin: 0; padding: 0; border-width: 0; border-spacing: 0;}

.dochistorytable tt { font-weight: bold; }

div.queryerror {
    margin-bottom: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: #e33;
}

table.qtable {
    font-size: 90%;
    margin-left: 0.4em;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
}

table.qtable th {
}

table.qtable td {
    padding: 0.2em 0.4em 0.2em 0.3em;
}

td.qtableshow {
    font-family: "Helvetica", "arial", sans-serif;
    font-size: 50%;
    vertical-align: middle;
    margin-right: 0.5em;
}
