{% extends "base.html" %}

{% block title2 %}- Recent Changes{% end %}

{% block content %}
<div class="viewframe">
<h1>Recent changes to {{blob_base}}</h1>
{% import blobviews %}
{% import datetime %}
{% set last_date = datetime.date.max %}
{% for blob in the_blobs %}
  {% if last_date > blob["doc"]["modified"].date() %}
  {% if last_date != datetime.date.max %}</table>{% end %}
  {% set last_date = blob["doc"]["modified"].date() %}
  <h2>{{ last_date.strftime("%b %d %Y") }}</h2><table class="recentchanges">
  {% end %}
  <tr>
    <td>{{ blob["doc"]["modified"].strftime("%I:%M:%S %p") }}</td>
    <td>{% raw handler.blob_link(blob, "show") %}</td>
    <td>{{ ("[old %s ]" if blob["tags"].get("_masked",False) else "%s") % blobviews.blob_get_name(blob) }}</td>
    <td><em>{{ blob["doc"].get("comment","") }}</em></td>
  </tr>
{% end %}
  {% if last_date != datetime.date.max %}</table>{% end %}
</div>
{% end %}
