<div class="blob">
  <div class="blob_header">
    <div class="blob_header_left">
      {{created}}
      {% if not a_data.get("suppress_has_reply", False) and has_replies %}
        {% raw handler.blob_link(blob, "show", "[has reply]") %}
      {% end %}
      {% if not a_data.get("suppress_reply_to_data", False) and blob["doc"].get("reply_to", None) %}
        {% raw handler.get_doc_link(blob["doc"]["reply_to"], "show", "[a reply]") %}
      {% end %}
      {% if blob["tags"].get("_masked", False) %}
        {% raw handler.get_doc_link(blob["doc"]["doc_id"], "show", "[see newest version]") %}
      {% end %}
    </div>
    <div class="blob_header_right">
      <span class="blob_actions">
      actions:
      {% raw handler.blob_link(blob, "show") %}
      {% raw handler.get_doc_link(blob["doc"]["doc_id"], "show", "(doc)") %}
      {% raw handler.get_doc_link(blob["doc"]["doc_id"], "history") %}
      {% raw handler.blob_link(blob, "delete") %}
      {% raw handler.reply_to_blob_link(blob) %}
      {% raw handler.blob_link(blob, "edit") %}
      </span>
    </div>
    <div class="clear"></div>
  </div>
  <div class="blob_content">
    {% if blob["doc"].get("deleted", False) %}
      <div class="blob_deleted">Deleted</div>
    {% else %}
      {% raw content %}
    {% end %}
    <div class="blob_footer">
      {{blob["doc"]["modifier"]}}
      / blob base: {{blob["doc"]["blob_base"]}}
      / blob id: {{blob_id}}
      / doc id: {{doc_id}}
    </div>
  </div>
</div>