{% extends "base.html" %}

{% block content %}
{% import blobviews %}
{% import datetime %}
{% set last_date = datetime.date.min %}
<div class="viewframe">
  <h1>Document history</h1>
  <p>For the document {% raw handler.get_doc_link(doc_id, "show", str(doc_id)) %}</p>
  <table class="dochistorytable">
{% for prefix,blob in history_entries %}
    <tr>
      <td style="padding-right:0.5em;">
      {% if blob and last_date < blob["doc"]["created"].date() %}
      {% set last_date = blob["doc"]["created"].date() %}
	<strong>{{ last_date.strftime("%Y-%m-%d") }}</strong>
      {% end %}
      </td>
      <td style="padding-right:1em;">{% if blob %}{{ blob["doc"]["created"].strftime("%H:%M:%S") }}{% end %}</td>
    <td>
    <table>
      <tr><td style="padding-right:0.75em;"><tt>{% raw prefix %}</tt></td>
      <td>
  {% if blob %}
  {% raw handler.blob_link(blob, "show", "(show)") %}
  {% if blob["doc"]["deleted"] %}
   <em>{{ blob["doc"]["comment"] }}</em>
  {% else %}
    {{ blobviews.blob_get_name(blob, default="(no name)") }}
    {% if blob["doc"]["comment"] %}
	&mdash; <em>{{ blob["doc"]["comment"] }}</em>
    {% end %}
    {% if not blob["tags"].get("_masked", False) %}<strong>(current)</strong>{% end %}
  {% end %}
  {% end %}
     </td></tr></table>
</td>
</tr>
{% end %}
</table>
</div>
{% end %}