<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{{ handler.settings["app_title"] }}</title>
<link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css" />
{% block head %}{% end %}
</head>
<body>
<div id="body">
<div id="content">
  {% if err_msg %}
  <div class="login_error">
  {{ err_msg }}
  </div>
  {% end if %}
  <form action="{{ request.path }}" method="post">
  {% raw xsrf_form_html() %}
  <input type="hidden" name="next" value="{{ next }}" />
  <div>Username: <input type="text" name="username" value="" /></div>
  <div>Password: <input type="password" name="password" value="" /></div>
  <div><input type="submit" name="Log in" /></div>
  </form>
</div>
</div>
</body>
</html>
