{% extends "base.html" %}

{% block title2 %} - Sync{% end %}

{% block content %}
<div class="viewframe">
  <h1>Sync</h1>
  {% if not objects["blobs"] %}
  <p>No objects were {{sync_type}}ed.</p>
  {% else %}
  <p>{{ sync_type.title()}}ed the following objects:</p>
  {% import blobviews %}
  {% import datetime %}
  {% set last_date = datetime.date.min %}
  {% for blob in objects["blobs"] %}
    {% if last_date < blob["doc"]["created"].date() %}
     {% if last_date != datetime.date.max %}</table>{% end %}
     {% set last_date = blob["doc"]["created"].date() %}
     <h2>{{ last_date.strftime("%b %d %Y") }}</h2><table class="recentchanges">
    {% end %}
    <tr>
    <td>{{ blob["doc"]["created"].strftime("%I:%M:%S %p") }}</td>
    <td>{% raw handler.blob_link(blob, "show") %}</td>
    <td>{{ ("[old %s ]" if blob["tags"].get("_masked",False) else "%s") % blobviews.blob_get_name(blob) }}</td>
    <td><em>{{ blob["doc"].get("comment","") }}</em></td>
    </tr>
  {% end %}
  {% if last_date != datetime.date.max %}</table>{% end %}
  {% end %}
</div>
{% end %}